
/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}


*/


body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}


/*#album {
    overflow: auto;
}

ul.stage {
    padding-left: 0;
    white-space: nowrap;
    width: 200%;
}

li.image-wrapper {
    display: inline-block;
    width: 20%;
}

img {
    display: block;
    width: 100%;
}
span {
    display: block;
}*/