
@{
    ViewBag.Title = "_FormErrors";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

@*@if (!ViewData.ModelState.IsValid)
{

    foreach (ModelState modelState in ViewData.ModelState.Values)
    {
        <p>---</p>
        foreach (ModelError error in modelState.Errors)
        {
            <p>0000</p>
            <div class="alert alert-danger alert-dismissible show" role="alert">
                <strong>Error! </strong> @error.ErrorMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
}*@

